<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DevDocs</title>
    <link rel="stylesheet" href="styles.css">
    <style>
      #statusBar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        color: #afafaf;
        background-color: #2e2e3e;
        padding: 5px;
        border-top: 1px solid #4f4f4f;
      }
    </style>
  </head>
  <body>
    <!-- Main Content -->
    <div id="content">
      <h1>Hello, Electron!</h1>

    </div>

    <!-- Statusbar -->
    <div id="statusBar">Ready.</div>

    <script src="../../../dist/renderer.js"></script>
  </body>
</html>
